// В этом файле должны быть стили для БЭМ-блока registration-form, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.registration-form {
  width: 400px;
  height: 600px;
  margin: 200px auto;

  &__input {
    display: block;
    border: 1px solid #000;
    border-radius: 6px;

    &:hover {
      border: 1px solid #0066ff;
      box-shadow: 0 0 3px #0066ff;
    }
  }
}
