//- Все примеси в этом файле должны начинаться c имени блока (landing-content)

mixin landing-content(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +landing-content('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' landing-content--' + modsList[i].trim();
      }
    }

  .landing-content(class=allMods)&attributes(attributes)
    p kek
