// ----------------------------Base colors--------------------------------

$dark-shade:                rgba(31, 32, 62, 1);
$dark-shade-75:             rgba(31, 32, 62, 0.75);
$dark-shade-50:             rgba(31, 32, 62, 0.5);
$dark-shade-25:             rgba(31, 32, 62, 0.25);
$dark-shade-25:             rgba(31, 32, 62, 0.05);
$purple:                    #bc9cff;
$green:                     #6fcf97;

// ----------------------------Text---------------------------------------

// Base body text

$text-color:                  $dark-shade-75;
$text-size:                   14px;
$text-line-height:            24px;
$font-family:                 Montserrat;

// H3

$text-color-h3:               $dark-shade;
$text-size-h3:                12px;
$font-weight-h3:              bold;
$text-line-height-h3:         15px;
$font-family-h3:              Montserrat;

// H2

$text-color-h2:               $dark-shade;
$text-size-h2:                12px;
$font-weight-h2:              bold;
$text-line-height-h2:         15px;
$font-family-h2:              Quicksand;

// H1

$text-color-h1:               $dark-shade;
$text-size-h1:                24px;
$font-weight-h1:              bold;
$text-line-height-h1:         30px;
$font-family-h1:              Quicksand;

$autorization-input-border: #cbd1d4;
$autorization-submit-border: #0f8fee;

/* stylelint-disable */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }